<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

Mission name is <%=mission.name%>.<br>
Mission type is <%=mission.missionType%>.<br>
Mission launch date is <%=mission.launchDate%>.<br>
Mission operator is<%=mission.operator%>.<br>


</body>
</html>